
#welcome {
  border: solid;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 180px);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
}

#welcomeheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  cursor: move;
}

#textheader {
  font-family: "Gil Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px; 
  color: #fff; 
  font-weight: 500;
}

#windowcontent {
  background-color: #fff; 
  margin: 6px; 
  border-radius: 12px; 
  width: 360px; 
  padding: 16px;
}

#os-icon {
  width: 64px; 
  height: 64px;
  border-radius: 32px; 
  object-fit: cover;
}

#os-name {
  font-family: "Comic Sans MS", "Comic Sans", cursive;  
}

#os-description {
  font-family: "Gil Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  background-image: url(./wallpaper.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;

}

#top-bar-name {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-left: 16px;
  font-weight: 700;
  background-color: rgba(256, 256, 256, 0.125);
  padding: 4px 12px;
  border-radius: 16px;
}

#top-bar-text {
  font-family: "Gil Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 4px 12px;
  border-radius: 16px;

}

#top-bar-date {
  font-family: "Gil Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 16px;
  background-color: rgba(256, 256, 256, 0.125);
  padding: 4px 12px;
  border-radius: 16px;
}



